.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
    background-color: #1F2937;
    color: white;
    padding: 40px;
    margin: 0px;
    font-size: 24px;
    font-style: #f9faf8;
}

.body {
    margin: 0;
    padding: 0;
}

.header-logo {
    margin-left: 10px;
    font-weight: bold;
}

.header-list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    text-decoration: none;
}

a:link {
    list-style-type: none;
    text-decoration: none;
    color: white;
}